.survey-form {
  background-color: white;
  margin: 5% 8%;
  height: 2000px;
  padding: 3%;
  overflow-y: scroll;
  border: 1px solid black;
}

.lpjk-logo {
  display: block;
  margin: 0 auto;
}

.survey-form-header h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.survey-form-content p {
  margin: 0;
}

.line-section {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0 5px;
  margin-bottom: 30px;
}